
<div class="title">
<%= "신이 #{@name}을(를) 만들 때..." %>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-block">
      <%= "흠.. #{ @random[0]}은(는) 많으니까 필요없고... "%>
    </div>
    <img class="card-img-top" src="/assets/god1.png" alt="Card image cap">
  </div>
  <div class="card">
    <div class="card-block">
      <%="#{@random[1]} 조금 넣고..."%>
    </div>
    <img class="card-img-top" src="/assets/god2.png" alt="Card image cap">
  </div>
  <div class="card">
    <div class="card-block">
      <%="#{@random[2]}을(를) 조금만.. 으갸갸 너무많이 넣었다"%>
    </div>
    <img class="card-img-top" src="/assets/god3.png" alt="Card image cap">
  </div>
</div>
