<div class="back">
<div class = "image">
	<image src="assets/godimage.jpg">
</div>
<form class = "a" action="home/game2" method='get'>
	<h2>신이 나를 만들 때</h2>
	<input type="text" name="input_text" placeholder="이름을 입력해 주세요">
	<br>
	<input type="submit" value="시작하기->">
</form>
</div>